#paragraphs-blokkli-allowed-bundles-form table {
  border-collapse: collapse;
}
#paragraphs-blokkli-allowed-bundles-form .gin-table-scroll-wrapper {
  overflow: visible;
}
#paragraphs-blokkli-allowed-bundles-form th,
#paragraphs-blokkli-allowed-bundles-form td {
  padding-left: 0;
  padding-right: 0;
}

#paragraphs-blokkli-allowed-bundles-form th:nth-child(n + 4),
#paragraphs-blokkli-allowed-bundles-form td:nth-child(n + 4) {
  text-align: center;
}
#paragraphs-blokkli-allowed-bundles-form thead th {
  white-space: nowrap;
  position: sticky;
  top: var(--gin-sticky-offset, 0);
  align-content: end;
  z-index: 100;
}
#paragraphs-blokkli-allowed-bundles-form thead th:nth-child(n + 4) span {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-60deg);
  transform-origin: bottom right;
}

#paragraphs-blokkli-allowed-bundles-form td {
  position: relative;
}

#paragraphs-blokkli-allowed-bundles-form .form-type--checkbox input {
  float: none;
}

#paragraphs-blokkli-allowed-bundles-form .form-type--checkbox label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 1rem;
  font-weight: bold;
  display: none;
  white-space: nowrap;
  z-index: 100;
}
#paragraphs-blokkli-allowed-bundles-form .form-type--checkbox:hover label {
  display: block;
}
