#edit-actions {
  background: white;
  position: fixed;
  bottom: 0;
  padding: 20px;
  z-index: 50;
  left: 0;
  right: 0;
  border-top: 1px solid var(--gin-border-color);
}

#edit-actions input {
  margin: 0;
  width: 100%;
}

.claro-autocomplete {
  width: 100% !important;
}

.ui-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  max-width: none !important;
  height: 100vh !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.ui-dialog-titlebar {
  border-radius: 0 !important;
}

.ui-dialog-content {
  flex: 1;
  min-height: 20rem !important;
  max-height: none !important;
}

.block-system-main-block > form {
  padding: 20px !important;
}

html,
html body.gin--vertical-toolbar,
html body.gin--horizontal-toolbar,
html body.gin--classic-toolbar,
body {
  padding-bottom: 80px !important;
  padding-top: 1rem !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

@media (max-width: 63.99em) {
  .gin-layer-wrapper {
    overflow: visible !important;
  }
}

.gin-secondary-toolbar {
  display: none !important;
}

header.region-sticky {
  top: auto !important;
  bottom: 0 !important;
  position: fixed !important;
  left: 0 !important;
  background: white !important;
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid var(--gin-border-color);
}
.region-sticky__items {
  padding: 0 1rem !important;
  margin: 0 !important;
}

.sticky-shadow {
  display: none;
}
