.gin-secondary-toolbar,
.sticky-shadow,
header.region-sticky {
  display: none !important;
}

html body.gin--vertical-toolbar,
html body.gin--horizontal-toolbar,
html body.gin--classic-toolbar {
  padding: 0 0 80px 0 !important;
}

html .region-content,
html .layout-container,
html .page-content {
  margin: 0 !important;
}

html .block-system-main-block > form {
  border: 0 !important;
  box-shadow: none !important;
}

body,
html {
  background: transparent !important;
}
