.region-sticky {
  display: none !important;
}

.ck-editor {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
}

html,
body {
  overflow: hidden;
}

.ck-editor__editable {
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-top-color: #ccc !important;
}

.ck-toolbar {
  border-color: transparent !important;
  border-radius: 0 !important;
}
.ck-editor__editable_inline {
  max-height: 500px;
}
