<script>
  window.parent.postMessage({ event: 'BLOKKLI', action: 'SAVE' });
</script>

<div class="paragraphs-blokkli-redirect-page">
  <div class="paragraphs-blokkli-loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
